@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInOutToast {
  animation: fadeInOut 3s ease-in-out;
}
